<header class="nav">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item app-heading" href="/">
        PHPSA2017
      </a>
    </div>
    <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>
    <div class="nav-right nav-menu">
            <span class="nav-item">
                <a href="https://github.com/mostertb/phpsa-2017-profiles"
                   class="button is-info is-outlined is-inverted">
                    <span class="icon">
                        <i class="fa fa-github"></i>
                    </span>
                    <span>Contribute</span>
                </a>
            </span>
    </div>
  </div>
</header>
